go 1.25.2

use (
	.
	./services/domains/account
	./services/domains/budget
	./services/domains/household
	./services/domains/recurring
	./services/domains/rules
	./services/engines/auto-categorize
	./services/engines/recurring
	./services/engines/rules
	./services/engines/smart-alert
)
